* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../assets/fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: "Source Sans Regular";
    src: url("../assets/fonts/SourceSansPro-Regular.ttf");
}

.container {
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: row;
    background-color: #DFDFDF;
    min-height: calc(100vh - 160px);
}

.all-classes-container {
    font-family: 'Source Sans Pro';
    width: 100%;
    margin: 12px;
}

.upper-section {
    display: flex;
    justify-content: space-between;
}

.upper-section div {
    padding: 12px;
    display: flex;
    width: 50%;
}

.upper-section button {
    margin: auto 24px;
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.right-section p {
    color: #545759;
}

.btn {
    background: #418FBF;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    font-size: 18px;
    color: #F2F2F2;
    border: none;
    transition: all 0.2s;
}

.btn:hover{
    background-color: rgb(55, 158, 223);
    font-size: 19px;
    cursor: pointer;
}

.list-of-classes {
    display: grid;
    grid-template-rows: auto;
    row-gap: 1px;
}

.list-of-classes div {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 36px 1fr 200px 160px 160px 100px;
}

.header-for-list {
    height: 40px;
}

.header-for-list div { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto 4px;
}

.class-row div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto 4px;
    font-family: 'Source Sans Regular';
}

.arrows {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
}

.arrows img {
    margin: 2px;
}

.class-row {
    height: 60px;
}

.class-row img {
    margin-right: 12px;
    height: 18px;
    width: 18px;
}

.actions {
    max-width: 20px;
}

body .all-classes-container .validation-message {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #BF343F;
}